	<%= render :partial => 'layouts/header' %>
	<style>
		body {
			background: #171717;
		}
		
		div#main {
			background: #171717;
			color: #747474;
		}
	</style>
	
	<div id="main">
	
<h1>About me...</h1>
<br><br>
<b>Not much has been put here yet... stay posted!</b>
<br><br><br><br><br>
<p>
	Uses
	<%= link_to 'Foundation 5', 'http://foundation.zurb.com/index.html' %>
	for front-end framework. Developed with help from: 
	<%= link_to 'Getting Started with Rails', 'http://guides.rubyonrails.org/getting_started.html' %>
	, and 
	<%= link_to 'Ruby on Rails 3.2 Blog in 15 minutes Step by Step Part 2', 'http://www.reinteractive.net/posts/34-ruby-on-rails-3-2-blog-in-15-minutes-step-by-step-part-2'%>
</p>

<br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<%= render :partial => 'layouts/footer' %>
